# This is the default configuration file for the web server.
server { # The server block should be enclosed in curly braces.
    listen 8080 8083; # Use IP:PORT (10.13.8.3:8080) (PORT VALUE IS NOT OPTIONAL).
    server_name first.com; # The server name is the domain name of the server (THIS VALUE IS OPTIONAL).
    password 123456; #  It can be used for authentication (THIS VALUE IS OPTIONAL).
    root ./www/first; # This is where the web files are located (THIS VALUE IS NOT OPTIONAL).
	index index.php index.html index.cgi; # The default index files to serve when a directory is requested (THIS VALUE IS OPTIONAL)

    error_page 404  /error_pages/404_ErrorPage; # Custom error page for 404 errors (THIS VALUE IS OPTIONAL).
    error_page 413  /error_pages/413_ErrorPage; # Custom error page for 500 errors (THIS VALUE IS OPTIONAL) 
    client_max_body_size 3M; # Maximum body size for client requests. Use K = kilobytes, M = megabytes, G = gigabytes.

	# location values are OPTIONAL
    location / { #folder name
		# root; root for folder if different than server root. 
		# forbiddenMethods; if any for the folder.
		# autoIndexOn true; Shows folder contents when there is no index file.
		cgi_files index.cgi; #cgi files in the folder.
		# redirect; internal or external address of the redirection. 
		# try_files index3.html; # the files to try if the directory is requested. it override server index directive.
    }

    location /uploads {
        forbidden_methods OPTIONS HEAD; # "forbidden_methods" is a custom directive to specify which methods are not allowed.
        autoIndexOn true; # "autoIndexOn" for the uploads directory for allowing the directory listing.
        cgi_files index.cgi;
		#root  /home/aiturria/Desktop;
		# try_files index.php; # This line is commented out, but it would specify the index files to try if the directory is requested.
        # redirect http://www.google.com; # This line is commented out, but it would redirect requests to any other web page or location.
    }

    location /cgi-bin {
        cgi_files comment.cgi delete.cgi login.cgi upload.py test_error.cgi timeout.py;
        forbidden_methods OPTIONS;
    }

	location /redirect {
        forbidden_methods POST DELETE OPTIONS;
		redirect https://www.polodigital.eu/;
       
    }
}

server
{
    listen 8090;
    server_name second.com;
	index index.html index.cgi;

    root ./www/second;

    error_page 404  /error_pages/404_ErrorPage;
   	error_page 413  /error_pages/413_ErrorPage; 

    client_max_body_size 10M;
  
}
